body {
  font-family: "Rubik", sans-serif; }

.navegador, .navegadorOtro {
  font-size: 18px;
  background: #f26900; }
  .navegadorOtro {
    background: linear-gradient(180deg, #f26900 0%, rgba(242, 105, 0, 0.5) 65%, rgba(242, 105, 0, 0) 100%); }
  .navegador__logo {
    width: 8rem; }
  .navegador__link {
    color: #ffffff; }
  .navegador__link:hover {
    color: #2A2627; }

.hero {
  background-image: url(../Assets/Index-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .hero__titulo, .nosotros__titulo {
    font-size: 3rem;
    text-shadow: #2A2627 2px 2px 4px; }
    @media screen and (max-width: 992px) {
      .hero__titulo, .nosotros__titulo {
        font-size: 2rem; } }
  .hero__subtitulo {
    font-size: 1.4rem;
    text-shadow: #2A2627 2px 2px 4px; }
    @media screen and (max-width: 1024px) {
      .hero__subtitulo {
        padding: 1rem; } }
  @media screen and (max-width: 425px) {
    .hero__img {
      height: 40vh; } }
  .hero__slider, .hero__img {
    max-width: 35rem;
    max-height: 35rem; }
    @media screen and (max-width: 1024px) {
      .hero__slider, .hero__img {
        width: 100% !important; } }

.carta {
  border: #F26900 solid 2px;
  color: #2A2627; }

.boton {
  font-size: 1.3rem;
  padding: 0.8rem;
  border: #F26900 solid 2px;
  background-color: #F26900;
  color: #ffffff; }

.boton:hover {
  border: #ed3136 2px solid;
  background-color: #ed3136; }

.espacio {
  background-image: linear-gradient(180deg, #f26900 0%, #ffffff 25%, #ffffff 75%, #f26900 99%);
  background-color: #F26900;
  color: #2A2627; }
  .espacio__titulo {
    text-shadow: #2A2627 2px 2px 4px; }
  .espacio__img {
    border-radius: 15px; }
  @media screen and (max-width: 992px) {
    .espacio__intro {
      flex-direction: column; } }
  .espacio__instalaciones {
    border-radius: 10px;
    width: 25rem;
    height: 17rem; }
    @media screen and (max-width: 992px) {
      .espacio__instalaciones {
        padding: 7px; } }
    @media screen and (max-width: 425px) {
      .espacio__instalaciones {
        max-height: 230px; } }

.nosotros {
  margin-top: -1px;
  color: #2A2627;
  background-color: #F26900;
  background-image: linear-gradient(180deg, #f26900 0%, #ffffff 25%); }
  @media screen and (max-width: 425px) {
    .nosotros__texto {
      flex-direction: column; } }
  .nosotros__img {
    max-width: 17rem;
    border-radius: 50%; }
    @media screen and (max-width: 768px) {
      .nosotros__img {
        display: none; } }
  .nosotros__columna {
    min-height: 25rem; }
    @media screen and (max-width: 768px) {
      .nosotros__columna {
        flex-direction: column; } }

.equipo {
  border: none;
  height: 32rem;
  width: 32rem; }
  .equipo__img {
    border-radius: 50%;
    padding: 0.5rem;
    border: #F26900 solid 2px;
    max-height: 250px;
    width: 50%; }

.servicios {
  color: #2A2627; }
  .servicios__titulo {
    text-shadow: #2A2627 2px 2px 4px; }
    .servicios__titulo-parrafo {
      font-size: 18px; }
  @media screen and (max-width: 425px) {
    .servicios__texto {
      font-size: small; } }
  .servicios__img {
    border: #F26900 solid 2px;
    width: 25rem;
    height: 19rem; }
    @media screen and (max-width: 425px) {
      .servicios__img {
        max-width: 250px;
        max-height: 250px; } }
    @media screen and (max-width: 768px) {
      .servicios__imgOtra {
        order: -1; } }
  .servicios__list {
    list-style: none; }
  .servicios__list::before {
    content: "\2022";
    color: #F26900;
    display: inline-block;
    padding-right: 25px;
    font-size: 50px;
    line-height: 25px;
    vertical-align: -11px;
    width: 15px; }
  .servicios__hr {
    margin: auto;
    width: 75%;
    height: 5px;
    background-color: #F26900;
    opacity: 0.8;
    border: none; }
  .servicios__item {
    height: 10rem; }

#peluqueria {
  border-radius: 68% 32% 46% 54% / 33% 28% 72% 67%; }

#guarderia {
  border-radius: 60% 40% 21% 79% / 31% 63% 37% 69%; }

#psicologia {
  border-radius: 60% 40% 57% 43% / 33% 63% 37% 67%; }

#adiestramiento {
  border-radius: 60% 40% 57% 43% / 33% 22% 78% 67%; }

.contacto {
  color: #2A2627; }
  .contacto__texto {
    display: block; }
  .contacto__input, .contacto__input--text {
    border: #F26900 solid 2px;
    opacity: 0.75; }
    .contacto__input--text {
      height: 18rem; }

.footer {
  background: linear-gradient(180deg, #7d7d7d 0%, #f26900 0%, #ed3136 100%, #7d7d7d 100%); }
  .footer__list {
    list-style: none;
    margin-top: 1rem; }
  .footer__link {
    text-decoration: none;
    color: #ffffff; }
  .footer__link:hover {
    color: #2A2627; }
