.hero{
    background-image: url(../Assets/Index-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    &__titulo{
        font-size: 4rem;
        text-shadow: $shadow;
        @include large{
            font-size: 2rem;
        }
    }

    &__subtitulo{
        text-shadow: $shadow;
        @include laptop{
            padding: 1rem;
        }        
    }

    &__img{
        @extend.hero__slider;
        @include mobile{
            height: 40vh;
        }
    }

    &__slider{
        max-width: 35rem;
        max-height: 35rem;
        @include laptop{
            width: 100% !important;
        }
    }

}

.carta{
    border: $border;
    color: $grey;
}

.boton {
    border: $border;
    background-color: $orange;
    color: #ffffff;
}

.boton:hover {
    border: $red 2px solid;
    background-color: $red;
}