.hero{
    background-image: url(../Assets/rose-petals.svg);
    background-repeat: no-repeat;
    background-size: cover;

    &__titulo{
        font-size: 4rem;
        text-shadow: $shadow;
        @include large{
            font-size: 2rem;
        }
    }

    &__subtitulo{
        padding: 0 20rem;
        @include laptop{
            padding: 1rem;
        }        
    }

    &__img{
        width: 800px;
        height: 575px;
        @include mobile{
            height: 40vh;
        }
    }

    &__slider{
        @include laptop{
            width: 100% !important;
        }
    }

}

.carta{
    border: $border;
    color: $grey;
}

.boton {
    border: $border;
    background-color: $orange;
    color: #ffffff;
}

.boton:hover {
    border: $red 2px solid;
    background-color: $red;
}