@media screen and (max-width: 1024px) {

    /* index */

    .hero__subtitulo {
        padding: 1rem;
    }

    .indexSlider{
        width: 100% !important;
    }

    /* Nuestro Equipo */

    .equipo {
        width: 30rem;
        height: 30rem;
    }
}