@media screen and (max-width: 768px) {

    /* quienes somos */

    .nosotros__section {
        margin-bottom: -3rem;
    }    

    .equipo__columna {
        padding: 0;
        width: auto;
    }

}