@media screen and (max-width: 992px) {

    /* index */

    .hero__titulo {
        font-size: 2rem;
    }

    /* nuestro espacio */

    .espacio__instalaciones {
        padding: 7px;
    }
    
    /* Quienes Somos */

    .nosotros__img {
        width: 50%;
    }

    .equipo {
        width: 20rem;
        height: 20rem;
    }    
    
}
